/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #0099CC;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


/*
 * my css
 */
li {
    width: 6em;
    float: left;
    list-style: none;
}
.editing {
    background: #2ecc71 !important;
}

.operation {
    margin-top: 13px;
    margin-bottom: 21px;
}

.operation h3 {
    color: white;
}

.actions img:hover {
    border: solid 4px #1f5f8a;
}

.actions h3 {
    color: white;
    margin-left: 12px;
}

.my-table tbody tr {
    height: 90px;
}

.my-table tbody tr:hover {
    /* box-shadow */
    box-shadow:rgba(113, 135, 164, 0.65) 0px 0px 6px 3px inset;
    -webkit-box-shadow:rgba(113, 135, 164, 0.65) 0px 0px 6px 3px inset;
    -moz-box-shadow:rgba(113, 135, 164, 0.65) 0px 0px 6px 3px inset;
}

.pdf-view-btn {
    position: relative;
}


.actions .col-md-3 {
    margin-bottom: 10px;
}

